@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', sans-serif;
}

input,
button {
  outline: none;
}

button:focus,
input:focus {
  outline: none;
}

button:hover {
  opacity: 0.9;
}
